# Byte-compiled / optimierte / andere Python-Objekte
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Virtuelle Umgebungen
.venv/
venv/
env/
ENV/

# IDE-Einstellungen
.idea/
*.iml

# FAISS-Datenbank
FAISS_db*/
FAISS_*/

# Umgebungsvariablen
.env

# Sonstige
.DS_Store
Thumbs.db
Answers_by_Role.txt

# uncompressed results and results figures
*/advancedRAG_*
*/basicRAG_*
*/directLLM_*

# indexed document
FAISS*
